*/interview_perception_exam01_0.db3
*.pt
*.cache
__pycache__
pretrained_weights/
third_party/
*.pdf
output/rgb
output/thermal_raw
output/thermal_color
dataset_yolo/archived
dataset_yolo/images
dataset_yolo/manual/labels-backup
dataset_yolo/qwen_sam
dataset_yolo/sam2_dino
dataset_yolo/sam2_sahi
dataset_yolo/thermal_cluster
dataset_yolo/thermal
output/11n_v1_inference.mp4
output/11s_v1_inference.mp4
runs/segment/seg_manual/11n_v1
runs/segment/seg_manual/11s_v1
runs/segment/seg_manual/11n_v2
runs/segment/seg_manual/11s_v2
runs/segment/seg_sam
runs/segment/thermal
runs/segment/thermal_cluster
